<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: Book.new %>
    </div>
    <script>
      $("#score").empty();
      raty(document.querySelector("#score"),
        {
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'book[score]',
          half: false,
      });
    </script>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <!--いいね機能-->
        　<td id=favorite_buttons_<%= @book.id %>>
            <%= render "favorites/favorite", book: @book %>
        　</td>

        　<td id="comments-count"><%= "#{@book.post_comments.count} コメント" %></td>

        　<!--レビュー-->
        　<td>
            <div id="score-rate<%= @book.id %>"></div>
            <script>
              raty(document.querySelector('#score-rate<%= @book.id %>'),
              {
                size: 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn: '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: false,
                readOnly: true,
                score: <%= @book.score %>
            });
            </script>
        　</td>


          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <!--コメント一覧-->
      <div id="comments-area">
        <%= render 'post_comments/post_comments', book: @book %>
      </div>
      <!-- コメントフォーム機能　-->
      <div id="comments-new">
        <%= render 'post_comments/comment_form', book: @book, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>